Universe
Universe/*
world
world/*
logs
logs/*
backups
backups/*
config/Chikachi/*
server.properties
server.properties.template
*.zip
snapshots-server
snapshots-server/*
Biome*
dynmap/web/tiles/*
dynmap/web/tiles
crash-reports
crash-reports/*
*.dump
eula.txt
world.spawn
world.spawn/
plugins/AuthMe/config.yml
plugins/AuthMe/config.yml.bak
plugins/AuthMe/authme.log
plugins/AuthMe/authme.db
plugins/DiscordSRV/config.yml
plugins/AdvancedAchievements/config.yml
plugins/AdvancedAchievements/config.yml.bak
plugins/OnTime/config.yml
plugins/OnTime/config.yml.bak
*.bak
*/*.bak
*/*/*.bak
*/*/*/*.bak
usercache.json